{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import",
        "functional"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
    ],
    "rules": {
        "@typescript-eslint/no-namespace": [2, {"allowDeclarations": true}],
        "quotes": ["error", "single", {"avoidEscape": true}],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/no-empty-interface": [2, {"allowSingleExtends": true}],
        "import/no-cycle": ["error", {"maxDepth": 10, "ignoreExternal": true}],
        "import/no-internal-modules": ["error"],
        "functional/no-promise-reject": ["error"],
        "functional/no-throw-statements": ["error"],
        "functional/no-try-statements": ["error"]
    }
}
